<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidateLogin</servlet-name>
        <servlet-class>ValidateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionVerify</servlet-name>
        <servlet-class>SessionVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutservlet</servlet-name>
        <servlet-class>logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexVerify</servlet-name>
        <servlet-class>IndexVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employeeprofile</servlet-name>
        <servlet-class>employeeprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employeehome</servlet-name>
        <servlet-class>employeehome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reminder</servlet-name>
        <servlet-class>Reminder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employeeevents</servlet-name>
        <servlet-class>employeeevents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactus</servlet-name>
        <servlet-class>contactus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminVerify</servlet-name>
        <servlet-class>AdminVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteadminevents</servlet-name>
        <servlet-class>deleteadminevents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertadminevents</servlet-name>
        <servlet-class>insertadminevents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminevents</servlet-name>
        <servlet-class>adminevents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminreminder</servlet-name>
        <servlet-class>adminreminder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminprofile</servlet-name>
        <servlet-class>adminprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteadminprofiles</servlet-name>
        <servlet-class>deleteadminprofiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createaccount</servlet-name>
        <servlet-class>createaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>redirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateLogin</servlet-name>
        <url-pattern>/ValidateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionVerify</servlet-name>
        <url-pattern>/SessionVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutservlet</servlet-name>
        <url-pattern>/logoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexVerify</servlet-name>
        <url-pattern>/IndexVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employeeprofile</servlet-name>
        <url-pattern>/employeeprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employeehome</servlet-name>
        <url-pattern>/employeehome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reminder</servlet-name>
        <url-pattern>/Reminder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employeeevents</servlet-name>
        <url-pattern>/employeeevents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactus</servlet-name>
        <url-pattern>/contactus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminVerify</servlet-name>
        <url-pattern>/AdminVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteadminevents</servlet-name>
        <url-pattern>/deleteadminevents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertadminevents</servlet-name>
        <url-pattern>/insertadminevents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminevents</servlet-name>
        <url-pattern>/adminevents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminreminder</servlet-name>
        <url-pattern>/adminreminder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminprofile</servlet-name>
        <url-pattern>/adminprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteadminprofiles</servlet-name>
        <url-pattern>/deleteadminprofiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createaccount</servlet-name>
        <url-pattern>/createaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
