*{
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
   font-family: montserrat;
   src: url(montserrat.otf);
}

@font-face {
   font-family: Bevan;
   src: url(Bevan.ttf);
}

@font-face {
   font-family: pacifico;
   src: url(Pacifico.ttf);
}
